.tab {
	flex-direction: column;
	@include bp-tablet--portrait {
		flex-direction: row;
	}
}
.tabnav {
	@include bp-tablet--portrait {
		align-items: stretch;
		border-bottom: 1px solid lighten($black, 60%);
		display: flex;
		margin-bottom: 1em;
		li {
			display: inline-block;
			a {
				color: lighten($black, 60%);
			}
			&:not(:first-of-type) {
				margin-left: 1em;
			}
			&.active {
				border-bottom: 4px solid #5889c2;
				a {
					color: $black;
				}
			}
		}
	}
	.title-sub {
		font-size: 0.75em;
		font-weight: normal;
	}
	.title-tab {
		@include bp-tablet--portrait {
			display: inline-block;
			font-size: 1.375em;
			font-weight: 600;
		}
	}
}

/* ---- Responsive Styles ---- */

@media screen and (max-width:520px) {
	.tabnav {
		display: inline;
		width: 100%;
		}
	.tab1st {
		float: left;
		margin-top: -25px;
	}
	.tab2nd {
		float: right;
		margin-top: -25px;
	}
	.hidden-mobile {
		display: none;
	}
	.tabcontent {
		border-top: 1px solid #dedede;
		padding-top: 20px;
		clear: both;
	}
	.tabnav h2 a {
		display: inline-block;
		padding: .5em 1em;
		border-radius: 3px;
		text-align: center;
		color: white;
		background: #338bc5;
		text-decoration: none;
		-webkit-transition: background .1s ease;
  		transition: background .1s ease;
		margin: 0 15px;
			&:hover {
				background: darken(#338bc5, 20%);
			}
	}
}
		